data/log
data/sessions
data/tmp
data/content/cdn/tmp
data/run
data/sources
data/templates
data/content/cdn
config/default.yaml
*.cache
*~
*.kate-swp
.idea
data/sources/synonyms/thesaurus_en.txt
/www/en/libs/external
www/en/data
www/en/sitemap*
www/en/pub/js/bundle-*
www/en/pub/css/bundle-*
www/en/admin/pub/js/bundle-*
www/en/admin/pub/css/bundle-*
*.patch
phoundation.komodoproject
vendor
nohup.out
.docker
docker-compose.y*
config/kubernetes
data/garbage
.swp
*.cache
*~
*.kate-swp
.idea
*.patch
*.komodoproject
vendor
nohup.out
.docker
docker-compose.y*
config/kubernetes
data/garbage
/test
Templates/*
Plugins/Phoundation/*
!Plugins/Phoundation/Phoundation/
Poundation/Core/Library/commands/try.php
