#!/usr/bin/php
<?php

use Phoundation\Cli\Documentation;
use Phoundation\Data\Validator\ArgvValidator;
use Phoundation\Virtualization\Kubernetes\KubernetesNamespaces\KubernetesNamespace;


/**
 * Script devops/kubernetes/delete/namespace
 *
 *
 *
 * @author Sven Olaf Oostenbrink <so.oostenbrink@gmail.com>
 * @license http://opensource.org/licenses/GPL-2.0 GNU Public License, Version 2
 * @copyright Copyright (c) 2022 Sven Olaf Oostenbrink <so.oostenbrink@gmail.com>
 * @package Phoundation\Scripts
 */
Documentation::usage('./pho devops kubernetes delete namespace');
Documentation::help('This script deletes the specified Kubernetes namespaces');


// Validate arguments
$argv = ArgvValidator::new()
    ->select('name', true)->matchesRegex('/^[a-z0-9-]+$/')
    ->noArgumentsLeft()
    ->validate();


// Create new namespace and apply it
$namespace = KubernetesNamespace::new($argv['name'])->delete();
